.navbar {
     text-align: center !important;
 }

#results, #scores{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 5%;
}

.myNav{
   background-color: #bdc3c7;
    color: black;
}

.charts{
    width: 100px;
    height: 150px;
}

.charts > svg {
    height: 100%;
    display: block;
}

#chart-container{
    margin-top: 100px;
}

#simplepw{
    margin-top: 100px;
}